/* =Layout */
.portal { 
    margin: 1em 0; 
}
.portalWrapper {
    margin: 0 1em; 
}
.portalColophon {
    float: left; 
}
.portalSearchbox, .portalPersonaltoolsWrapper, .portalSiteactions  { 
    float: right;
    clear: right;
}
.portalColumns {
    clear: right;
}
.portalGlobalnav li, .portalPersonaltools li, .portalSiteactions li, .portalColophon li  { 
    display: inline; 
    padding-left: 1em; 
}
.portalGlobalnav, .portalPersonaltools, .portalSiteactions, .portalColophon,
.portalGlobalnav li:first-child, .portalPersonaltools li:first-child, 
.portalSiteactions li:first-child, .portalColophon li:first-child {
    padding-left: 0; 
}
.portalFooter {
    text-align: center;
}

/* =Color */
.LSResult, .actionMenuContent { 
    background: #fff; 
}
